@tailwind base;
@tailwind components;
@tailwind utilities;
table{
    border: 1px solid black;
    border-collapse: separate;
    border-spacing:2px;
    width:100%;
    border-bottom-width: 1px;
}
th{
    border: 1px solid black;
    border-collapse: separate;
    border-spacing:2px;
}
.control-dots,.carousel-status
{
    visibility: hidden;
}
.control-arrow:hover
{
    background: none;
}

/* @media rule allows you to specify different style for different media(eg.printer)*/
@media print {
    .printi, .scroller {
        display: none;
    }
}
